@charset "UTF-8";

@font-face { font-family: "KMA"; font-weight: 400; src: url("../assets/fonts/KMA_Light.woff2") format("woff2"); font-display: swap;}

@font-face { font-family: "KMA"; font-weight: 600; src: url("../assets/fonts/KMA_Regular.woff2") format("woff2"); font-display: swap;}

@font-face { font-family: "KMA"; font-weight: 800; src: url("../assets/fonts/KMA_Bold.woff2") format("woff2"); font-display: swap;}

@font-face { font-family: "SUIT-variable"; src: url("../assets/fonts/SUIT-Variable.woff2") format("woff2"); font-weight: 100 900; font-display: swap;}