@charset "UTF-8";


html, body { width: 100%; height: auto; overflow-x: hidden; }

#container { position: relative; width: 100%; height: 100vh;}

.bg {position: absolute; top: 0; left: 0; width: 100%; height: 100vh; background-image: url('../assets/imgs/main_bg.webp'); background-position: center; background-repeat: no-repeat; background-size: cover;}

.logo {position: relative; width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center;}